@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "vegan";
  src: url("../public/fonts/Vegan.ttf");
}

#__next {
  @apply h-full
}

@font-face {
  font-family: "lemonMilk";
  src: url("../public/fonts/LEMONMILK.otf");
}

@layer components {
  .profile-button {  @apply  text-white bg-teal-600 rounded p-2 pl-4 pr-4 m-2}
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide{
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.writer-text {
  display: inline-block;
  overflow: hidden;
  letter-spacing: 2px;
  animation: typing 2s steps(16, end), blink 1s step-end infinite;
  white-space: nowrap;
  border-right: 4px solid rgb(13 148 136);
  box-sizing: border-box;
}

@keyframes typing {
  from {
    width: 0
  }
  to {
    width: 100%
  }
}

@keyframes blink {
  from, to {
    border-color: transparent
  }
  50% {
    border-color: rgb(13 148 136);
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

