@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "vegan";
  src: url("../public/fonts/Vegan.ttf");
}

#__next {
  @apply h-full
}

@font-face {
  font-family: "lemonMilk";
  src: url("../public/fonts/LEMONMILK.otf");
}

@layer components {
  .profile-button {  @apply  text-white bg-teal-600 rounded p-2 pl-4 pr-4 m-2}
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide{
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.writer-text {
  display: inline-block;
  overflow: hidden;
  letter-spacing: 2px;
  animation: typing 2s steps(16, end), blink 1s step-end infinite;
  white-space: nowrap;
  border-right: 4px solid rgb(13 148 136);
  box-sizing: border-box;
}

@keyframes typing {
  from {
    width: 0
  }
  to {
    width: 100%
  }
}

@keyframes blink {
  from, to {
    border-color: transparent
  }
  50% {
    border-color: rgb(13 148 136);
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.slider {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  text-align: center;
  overflow: hidden;
}
.image-container {
  width: 400%;
  clear: both;
  position: relative;
  -webkit-transition: left 2s;
  -moz-transition: left 2s;
  -o-transition: left 2s;
  transition: left 2s;
  left: 0;
}

.image1.image-container{
  left: 0;
}
.image2.image-container{
  left: -100%;
}
.image3.image-container{
  left: -200%;
}
.image4.image-container{
  left: -300%;
}

.slide {
  width: 25%;
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
}
